/*Box Sizing Reset for All Browsers*/
*,
*::before, *::after {
    box-sizing: border-box;
}
/*Non-Specific Styling*/
html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: #FFFFFF;
}
h1 {
  font-size: 60px;
}
/*Top Nav Menu Styling*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01435A;
  background-size: cover;
  height: 96px;
}
.left-nav {
  padding-left: 100px;
}
a {
  color: white;
  padding: 20px;
  text-decoration: none;
}
#contact-button {
 height: 40px;
 width: auto;
 border-radius: 12px;
 background-color: #01435A;
 color: white;
 border: solid 1px #1EC28B;
}
#book-button {
 height: 40px;
 width: auto;
 border-radius: 12px;
 background-color: #1EC28B;
 color: white;
}
/*Hero img/Banner*/
.hero-img {
  background-image: url("/assets/Rectangle.png");
  height: 624px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: center;
  position: absolute;
  left: 35%;
  top: 17%;
  color: white;
}
.hero-button {
  width: 200px;
  height: 56px;
  background-color: #1EC28B;
  border-radius: 12px;
  color: white;
}
/*Awards Styling*/
.awards-container {
  display: block;
}
p {
  height: 224px;
  width: 580px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #FDDBCB;
  background-size: cover;
  height: 200px;
}





/*Media Queiries Starting w/ Mobile and Up-Scaling*/
/*For Desktop View*/
@media (min-width: 768px) {
  
} 
/*Very small devices - Phones <= 600px*/
@media only screen and (max-width: 600px) {}
/*Small devices - portrait (Vertical) tablets >= 600px*/
@media only screen and (min-width: 600px) {}
/*Medium devices - landscape (Horizontal) tablets >= 768px*/
@media only screen and (min-width: 768px) {}
/*Large devices - Desktop/Laptop >= 992px*/
@media only screen and (min-width: 992px) {}
/*Extra Large devices - Large Desktop/Laptops >= 12px*/
@media only screen and (min-width: 1200px) {}
