/*Box Sizing Reset for All Browsers*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Poppins;
}
/*Non-Specific Styling*/

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #fdf7f0;
  overflow-x: hidden;
}

main{
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 300px;
}

h1 {
  font-size: 60px;
  font-family: Permanent Marker;
  
}

h2 {
  color: #01435a;
  font-size: 48px;
  font-weight: 500;
}

.content h2 {
  margin-top: -8px;
  margin-bottom: 8px;
}

h4 {
  color: #1ec28b;
  font-size: 20px;
  font-weight: 500;
}

p {
  color: #4d7b8b;
  font-weight: 400;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/*Top Nav Menu Styling*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01435a;
  height: 96px;
  width: 100%;
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding-left: 3%;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  padding-right: 3%;
}

.nav-menu {
  margin: 5px;
}

.contact-button,
.book-button {
  box-sizing: border-box;
  height: 40px;
  width: 120px;
  border-radius: 12px;
  color: white;
  margin: 4px;
}

.contact-button {
  background-color: #01435a;
  border: solid 2px #1ec28b;
  margin-left: 20px;
}

.book-button {
  background-color: #1ec28b;
  border: none;
}

/*Hamburger Menu*/

rect {
  stroke: #1ec28b;
  fill: #1ec28b;
}

.hamburger,
.hamburger-button {
  position: relative;
  font-size: 17px;
  border: none;
  color: #000000;
  outline: none;
  background-color: #01435a;
}

.hamburger-content {
  display: none;
  position: absolute;
  min-width: 160px;
  top:  48px;
  right: 0px;
  box-shadow: 0px 8px 16px 0px;
}

.hamburger-content a {

  color: #000000;
  background-color: #ffffff;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

@media(hover: hover){
  .hamburger:hover {
    background-color: #1ec28b;
    opacity: 75%;
  }

  .hamburger-content a:hover {
    background: linear-gradient(#1ec28b, #01435a);
    color: #ffffff;
  }

  .hamburger:hover .hamburger-content {
    display: block;
  }

  .hamburger a:hover,
  .hamburger-button:hover .hamburger-button {
    opacity: 90%;
  }
  button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 5px 0px #000000;
  }
}

.active {
  display: block;
}

.btn-shadow {
  box-shadow: 0px 3px 5px 0px #000000;
}


/*Hero img/Banner*/
.hero-img {
  background-image: url("/assets/Rectangle.png");
  height: 624px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  position: relative;
  align-items: center;
  color: white;
}

.hero-button {
  width: 212px;
  height: 56px;
  background-color: #1ec28b;
  border-radius: 12px;
  color: white;
  font-size: 20px;
  border: none;
  font-weight: 500;
  letter-spacing: 1px;
}

/*Awards Styling*/
.content {
  display: flex;
  box-sizing: border-box;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
}

.left-content,
.right-content,
.awards-content,
.featured-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.featured-content,
.left-content,
.right-content {
  align-items: flex-center;
}

.left-content button {
  color: #1ec28b;
  border: solid 2px #1ec28b;
  width: 156px;
  height: 48px;
  border-radius: 12px;
  background-color: white;
}

.awards-content {
  flex-direction: row;
}

.awards-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.awards-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.award-img-1,
.award-img-2,
.award-img-3 {
  object-fit: contain;
}

.award-img-1 {
  width: 240px;
  margin-right: 20px;
  margin-top: 20px;
}

.award-img-2 {
  width: 240px;
}

.award-img-3 {
  width: 220px;
}

/*Most Popular & Card Styling*/
.popular-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 64px;
  margin-bottom: 64px;
}

.cards-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 373px;
  display: block;
  overflow: hidden;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #ffffff;
  margin: 12px;
}

.card-img {
  width: 100%;
  height: 240px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

/*Booking Styling*/
.booking {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #01435a;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  height: 200px;
}

.left-booking {
  width: 60%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  margin: 0px;
}

.right-booking {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
  margin: 0px;
}

.left-booking h2 {
  color: white;
  font-family: Permanent Marker;
  font-size: 80px;
  margin: 0px;
}

/*Footer Styling*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fddbcb;
  height: 200px;
  margin-top: 40px;
}

.social-logos-cont {
  display: flex;
  flex-direction: row;
}

.social-logo {
  display: block;
  width: 32px;
  margin: 4px;
  object-fit: contain;
  cursor: pointer;
}

/*Media Queiries Starting w/ Mobile and Up-Scaling*/
/*Hamburger Menu/Nav Menu media queries*/
@media only screen and (min-width: 800px) {
  .hamburger {
    visibility: hidden;
    display: none;
    height: 0px;
    width: 0px;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 800px) {
  .right-nav,
  .hamburger-menu {
    visibility: hidden;

  }
}

/*Very small devices - Phones <= 600px*/
@media only screen and (max-width: 600px) {
  .award-img-1 {
    width: 180px;
    margin-right: 0px;
    margin-top: 20px;
  }
  
  .award-img-2 {
    width: 180px;
  }
  
  .award-img-3 {
    width: 160px;
  }
}
/*Small devices - portrait (Vertical) tablets >= 600px*/
@media only screen and (max-width: 600px) {
}

/*Medium devices - landscape (Horizontal) tablets >= 768px*/
@media only screen and (max-width: 768px) {
  h1,
  .left-booking h2 {
    font-size: 56px;
  }
}
/*Large devices - Desktop/Laptop <= 992px*/
@media only screen and (max-width: 992px) {
  .left-content,
  .right-content,
  .awards-content,
  .featured-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .featured-content {
    order: 1;
  }

  #featured-aventure {
    width: 100%;
  }

  p,
  h2 {
    text-align: center;
  }

  .card p {
    text-align: left;
  }
}
/*Extra Large devices - Large Desktop/Laptops <= 1200px*/
@media only screen and (max-width: 1200px) {
  .left-booking,
  .right-booking {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .booking {
    height: 303px;
    flex-direction: column;
  }
}

